.App {
  text-align: center;
}
nav{
  display:flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  margin: 0;
  background: lightblue;
}
.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  
}